doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gulfie's Shop!
        link(rel="stylesheet" href="./style.css")
    body 
        main
            .store-header
                h1.title Gulfie's Shop!
                h2.subtitle This is the best place to see <i>everything</i> I have to sell
                p All links go to external sites like RedBubble or Ko-Fi. See a design you want on a different product? Just let me know and I'll try and make it available.

            .products
                each p in products
                    a.item(href=p.url)
                        h2.item-title #{p.title.trim()}
                        div.centered.bordered-top.rel
                            img(src=p.localImageUrl)
                            //- div
                                span buy now on #{p.site}
                            if p.price && p.price.indexOf('varies') == -1
                                div.price= p.price.trim()
                            if p.site 
                                div.sitecontain
                                    div.site Buy it on #{p.site.trim()}
                            // 'view on RedBubble' hover tip
                        if p.items.length > 0
                            p.description
                                i Available on #{p.items.length} products

                        if p.description
                            div
                                p.description= p.description.trim()
                        //- if p.mature 
                        //-     span MATURE!
            .store-footer 

                    