doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gulfie's Shop
    body 
        each p in products
            h1= p.title
            div
                p= p.description 
            div 
                span= p.price.trim()
            img(src=p.localImageUrl)
            a(href=p.url) buy now on #{p.site}

                